<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/aboutstyles.css">
</head>
<body>
    <h1>Biography</h1>
    <div id="images-text">
    <div id="images">
        <img src="/images/ronaldo-child.jpg" alt="ronaldo-kid">
        <img src="/images/madeira-island.jpg" alt="madeira">
    </div>
    <div>
        <p>Ronaldo was born in Madeira Island, a small portuguese island located in the middle of the Atlantic Ocean. In is childhood, Cristiano Ronaldo lived in poor conditions, but Ronaldo never stopped to belive, and with his mindset, he could achieve is forever dream to be a professional player, and became one of the best players of the world, with 5 Baloon D'or</p>
    </div>    
    </div>
    <hr>
    <div>
    <h3 id="subtitles"> Personal informations</h3>
    <ul>
        <li>Name: Cristiano Ronaldo dos Santos Aveiro</li>
        <li>Birth date: 5 February 1985</li>
        <li>Place of birth: Funchal, Ilha da Madeira</li>
        <li>Nationality: Portuguese</li>
        <li>Height: 1,87m</li>
        <li>Foot: Right foot</li>
        <li>Jersey number: 7</li>
        <li>Field position: left midfielder or stiker </li>
    </ul>
    </div>
    <hr>
    <div>
    <h3 id="subtitles">Teams where he played</h3>
    <ul>
        <li><img src="/images/andorinha.jpg" alt="andorinha">Andorinha</li>
        <li><img src="/images/nacional.jpg" alt="nacional">Nacional da Madeira</li>
        <li><img src="/images/sporting.jpg" alt="sportingB">Sporting B</li>
        <li><img src="/images/sporting.jpg" alt="sporting">Sporting</li>
        <li><img src="/images/manchester.webp" alt="manchester">Manchester United</li>
        <li><img src="/images/Real_Madrid.png" alt="real">Real Madrid</li>
        <li><img src="/images/juve.jpg" alt="juve">Juventus</li>
        <li><img src="/images/manchester.webp" alt="manchester">Manchester United</li>
    </ul>
    </div>
</body>
</html>