<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <nav id="nav-bar">
        <img class="ronaldo-logo" src="/images/CR7-logo.png" alt="cr7-logo" width="300" height="60"  />
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
        </ul>
    </nav>   
<div class=" description">
<img src="/images/cristiano_ronaldo_portugal_.webp" alt="cristiano ronaldo" width="100%" height="50%" /> 
<div id="living-legend">
<h1><i> "The living legend"</i></h1>
<p><i> This is a page dedicated to the living legend Cristiano Ronaldo, one of the best players in the world, and an incredible human inside and outside of the pitch.
    A truly example of hardwork, and an inspiration to the most of human beings.
</i></p>
</div>
<hr>
<div>
<h1 id="what-to-find"><i> What to find?</i></h1>    
<h3 id="about-topics"><i> On this site we will abord information about three specific topics:</i></h3>
    <ul>
        <li>Biography/history</li>
        <li>Achievments/Records</li>
        <li>Brands/Partnerships</li>
    </ul>
<h3 id="final-quote">If you want to know more about of these topics, just click in one of the two buttons on the right top corner of the page!!</h3>    
</div> 
</div>   
</body>
</html>