h1 {
    color: burlywood;
    text-align: center;
}

#images {
    display: flex;
    flex-direction: column;
    width: 250px;
}

#images-text {
    display: flex;
    flex-direction: row;
}

#images-text p {
    text-align: center;
       
}

#subtitles {
    color: burlywood;
}